parameters:
    hosts: [www.shop2tout.fr]
    logFile: log/test.log
    testStack: curl
    beginLine: 0
    numberOfLine: 30
    logParserClass: \Log2Test\Apache2LogParser
    logFormat: '%h %l %u %t \"%r\" %>s %b'
    extensions_allowed: ['*']
    browsers: ['*chrome']
    removeDuplicateUrl: true
    pauseBetweenTests: 1
    encodedUrls: true
    enabledScreenshot: true
    log2testVersion: V1.2
