parameters:
    hosts: [[www.shop2tout.com, www.shop2tout.local]]
    logFile: log/test.log
    testStack: Curl
    beginLine: 0
    numberOfLine: 30
    logParserClass: \Log2Test\Apache2LogParser
    logFormat: '%h %l %u %t \"%r\" %>s %b'
    extensions_allowed: ['*']
    browsers: ['*chrome']
    removeDuplicateUrl: true
    pauseBetweenTests: 0
    encodedUrls: false
    enabledScreenshot: true
    log2testVersion: V1.4
    testSuiteId: 1
    lastResultId: 1
    numberOfFileByTestSuite: 30
    testResultFormat: xml
    forbiddenContents: []
