parameters:
    #list of hosts you want to keep from your logs
    hosts:
        - site1.com
        - site2.com
    logFile: log/test.log
    beginLine: 1
    numberOfLine: 20
    logParserClass: \Log2Test\Apache2LogParser

